body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #e0e0e0;
    background-color: #333;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    align-items: center;
}

.index-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 80%;
}

.robinreader-actionbox {
    padding: 10px;
    border: 1px solid #ccc; /* Adds a border around the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to the box */
    width: 50%;
    max-width: 500px;
    background-color: rgb(171, 171, 171);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.robinreader-actionbox button {
    margin: 10px;
}

h1 {
    margin: 0;
    font-size: 4em;
}

h3 {
    margin: 10px 0 0;  /* Spacing above h3, adjust as needed */
    font-size: 1.5em;  /* Smaller than h1, but still significant */
    color: #ccc;  /* Slightly lighter than the main text color */
}

input[type="file"] {
    padding: 10px 15px;
    margin: 10px 0px;
    width: 100%;
    color: #f2f2f2;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button {
    color: #f2f2f2;
    background-color: #666;
    border: none;
    padding: 10px 15px;
    margin: 0px 10px 0px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]:hover::file-selector-button {
    background-color: #888;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #888;
}

.checkmark {
    display: block;
    font-size: px;
    color: green;
}

.spinner {
    border: 3px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.grid-container {
    display: none;
    grid-template-columns: 1fr .25fr;
    grid-template-rows: auto;
    gap: 6px;  /* Space between grid items */
    
}
  
.box {
    color: #333;
    height: 30px; 
    align-items: center;
    align-content: center;
}

.navbar {
    display: flex;
    background-color: #222;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px; /* Adjust based on your logo's size */
    border-radius: 5px;
    margin: 10px;
}

.logo span {
    margin-left: 2px;
    font-size: 20px;
    font-weight: bold;
}

.nav-items a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 16px;
    padding: 20px 12px;
}

.nav-items {
    margin-left: 18px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#description {
    width: 50%;
    max-width: 500px;
}

#description p {
    margin: 30px 0px;
}

#description h1 {
    text-align: center;
}

#download-link {
    display: none;
    padding: 10px 0px 5px 0px;
}

.disabled {
    background-color: lightgray;
    cursor: not-allowed;
}